.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 3rem;
  background-color: #333;
}

.navbarLogo {
  font-size: 1.2rem;
  color: #f1f1f1;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbarLink {
  color: #f1f1f1;
  text-decoration: none;
}

.navbarList {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.navbarIcons {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  font-size: 1.2rem;
}
